<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find rovr_description)/launch/description.launch" />

  <!-- Human sim pipeline -->
  <node pkg="rovr_control" type="teleop_twist_node" name="main_teleop_twist" output="screen">
    <param name="twist_topic" value="cmd_vel" />
  </node>
  <arg name="js_dev" default="/dev/input/js0"/>

  <node pkg="joy" type="joy_node" name="joy" output="screen">
    <param name="dev" value="$(arg js_dev)"/>
  </node>

  <!-- Map-sensor publisher nodes -->
  <node pkg="tf" type="static_transform_publisher" name="anchor0_broadcaster" args="0 0.57 0.48 1.5708 0 0 map anchor0 100" />
  <node pkg="tf" type="static_transform_publisher" name="anchor1_broadcaster" args="0 1.57 0.48 1.5708 0 0 map anchor1 100" />
  <node pkg="tf" type="static_transform_publisher" name="aruco_broadcaster" args="0.31 0.75 0.25 -0.5 -0.5 0.5 0.5 map aruco 100" />
  <!--<node pkg="tf" type="static_transform_publisher" name="odom_broadcaster" args="0 0 0 0 0 0 1 map odom 100" />-->

  <!-- Sensors -->
  <include file="$(find rovr_common)/launch/sensors/sensors.launch">
    <arg name="simulation" value="true" />
  </include>

  <!-- Launch Gazebo -->
  <include file="$(find rovr_gazebo)/launch/sim.launch" />

  <!-- Launch nav nodes. Should eventually just call navigation.launch-->
  <include file="$(find rovr_navigation)/launch/ekf_odom.launch" />
  <include file="$(find rovr_navigation)/launch/ekf_map.launch" />
</launch>
