<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find rovr_description)/launch/description.launch" />

  <!-- Human sim pipeline -->
  <node pkg="rovr_control" type="teleop_twist_node" name="main_teleop_twist" output="screen">
    <param name="twist_topic" value="cmd_vel" />
  </node>
  <arg name="js_dev" default="/dev/input/js0"/>

  <node pkg="joy" type="joy_node" name="joy" output="screen">
    <param name="dev" value="$(arg js_dev)"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="anchor0_broadcaster" args="0 0.57 0.48 0 0 0 1 map anchor0 100" />
  <node pkg="tf" type="static_transform_publisher" name="anchor1_broadcaster" args="0 1.57 0.48 0 0 0 1 map anchor1 100" />

  <!-- Sensors -->
  <include file="$(find rovr_common)/launch/sensors/sensors.launch">
    <arg name="simulation" value="true" />
  </include>

  <!-- Launch Gazebo -->
  <include file="$(find rovr_gazebo)/launch/sim.launch" />
</launch>
