<?xml version="1.0" encoding="UTF-8"?> 
<launch>

<!-- 
    Launches EKF localization node for fusing:
        Decawave
        Navx IMU
        Wheel Odometry
 -->

<!-- EKF documentation here: http://docs.ros.org/melodic/api/robot_localization/html/configuring_robot_localization.html#sensor-configuration -->

<!-- Tutorials utilized:
        https://docs.google.com/document/d/1tCXviEGbX-8jOnVl83E4Ulb4-HyeHQYTiYjtRGy3do0/edit
        https://docs.google.com/document/d/1yqQWcCtsnFftkSLt8TJSeEsTHTMLaPAMPYsCxNVuHJU/edit#
        https://docs.google.com/document/d/1LDD7UEkO1i5TKN1p2IXpSUQl44SoaicLOxE3tgIQ1C4/edit#
 -->

    <!-- Odom node (IMU + Wheel ) -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_odom_node2" output="screen" >
        <param name="frequency" value="30"/>
        <param name="sensor_timeout" value="0.1"/>
        <param name="two_d_mode" value="true"/>
        <param name="map_frame" value="map"/>
        <param name="odom_frame" value="odom"/>
        <param name="base_link_frame" value="base_link"/>
        <param name="world_frame" value="odom"/>
        <param name="transform_time_offset" value="0.0"/>

        <!-- the topic the IMU node is publishing to -->
        <param name="imu0" value="/imu0/data"/>

        <param name="imu0_differential" value="false" />
        <param name="imu0_relative" value="true" />
        <param name="imu0_queue_size" value="10" />

        <!-- we probably don't want this lol -->
        <!-- <param name="imu0_remove_gravitational_acceleration" value="true" /> -->

        <!-- might need to update this -->
        <!-- config format -->
        <!-- x y z -->
        <!-- r p y -->
        <!-- xd yd zd -->
        <!-- rd pd yd -->
        <!-- xdd ydd zdd -->
        <rosparam param="imu0_config">[false,  false,  false,
                                       true,  true,  true,
                                       false,  false,  false,
                                       false ,  false,   false,
                                       false,   false,  false]</rosparam>
        
        <param name="imu1" value="/imu1/data"/>

        <param name="imu1_differential" value="false" />
        <param name="imu1_relative" value="true" />
        <param name="imu1_queue_size" value="10" />

        <!-- we probably don't want this lol -->
        <!-- <param name="imu0_remove_gravitational_acceleration" value="true" /> -->

        <!-- might need to update this -->
        <!-- config format -->
        <!-- x y z -->
        <!-- r p y -->
        <!-- xd yd zd -->
        <!-- rd pd yd -->
        <!-- xdd ydd zdd -->
        <rosparam param="imu1_config">[false,  false,  false,
                                       true,  true,  true,
                                       false,  false,  false,
                                       false ,  false,   false,
                                       false,   false,  false]</rosparam>


        <!-- UNCOMMENT ONCE WHEEL ODOM IS READY -->

        <!-- the topic the wheel odom node is publishing to -->
         <param name="odom0" value="/odom"/>

        <param name="odom0_differential" value="false" />
        <param name="odom0_relative" value="false" />
        <param name="odom0_queue_size" value="10" />

        <!-- might need to update this -->
        <!-- config format -->
        <!-- x y z -->
        <!-- r p y -->
        <!-- xd yd zd -->
        <!-- rd pd yd -->
        <!-- xdd ydd zdd -->
         <rosparam param="odom0_config">[false,  false,  false,
                                        false,  false,  false,
                                        true,   false,   false, 
                                        false,  false,  true,
                                        true,  false,  false]</rosparam>


        <param name="print_diagnostics" value="true" />
        <param name="debug" value="false" />
        <param name="debug_out_file" value="debug_odom_ekf.txt" />
        <rosparam param="process_noise_covariance">[0.05, 0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
                                                    0,    0.05, 0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
                                                    0,    0,    0.06, 0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
                                                    0,    0,    0,    0.03, 0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
                                                    0,    0,    0,    0,    0.03, 0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
                                                    0,    0,    0,    0,    0,    0.06, 0,    0,    0,    0,    0,    0,    0,    0,    0,
                                                    0,    0,    0,    0,    0,    0,    0.025,0,    0,    0,    0,    0,    0,    0,    0,
                                                    0,    0,    0,    0,    0,    0,    0,    0.025,0,    0,    0,    0,    0,    0,    0,
                                                    0,    0,    0,    0,    0,    0,    0,    0,    0.04, 0,    0,    0,    0,    0,    0,
                                                    0,    0,    0,    0,    0,    0,    0,    0,    0,    0.01, 0,    0,    0,    0,    0,
                                                    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0.01, 0,    0,    0,    0,
                                                    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0.02, 0,    0,    0,
                                                    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0.01, 0,    0,
                                                    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0.01, 0,
                                                    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0.005]</rosparam>
        <rosparam param="initial_estimate_covariance">[1e-9, 0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
                                                       0,    1e-9, 0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
                                                       0,    0,    1e-9, 0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
                                                       0,    0,    0,    1e-9, 0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
                                                       0,    0,    0,    0,    1e-9, 0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
                                                       0,    0,    0,    0,    0,    1e-9, 0,    0,    0,    0,    0,    0,    0,    0,    0,
                                                       0,    0,    0,    0,    0,    0,    1e-9 ,   0,    0,    0,    0,    0,    0,    0,    0,
                                                       0,    0,    0,    0,    0,    0,    0,    1e-9 ,   0,    0,    0,    0,    0,    0,    0,
                                                       0,    0,    0,    0,    0,    0,    0,    0,    1e-9, 0,    0,    0,    0,    0,    0,
                                                       0,    0,    0,    0,    0,    0,    0,    0,    0,    1,    0,    0,    0,    0,    0,
                                                       0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    1,    0,    0,    0,    0,
                                                       0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    1 ,   0,    0,    0,
                                                       0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    1,    0,    0,
                                                       0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    1, 0,
                                                       0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    1]</rosparam>
    </node>

</launch>