<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <node pkg="rovr_navigation" type="pc_filter_node" name="pc_filter" output="screen" respawn="true">
    <param name="map_frame" value="map" />
    <param name="max_vert_angle" value="0.087" />
    <param name="distance_threshold" value="5" />
    <param name="min_percentage" value="5"/>
  </node>
</launch>