<launch>

  <!--launches the web video server I think-->
  <node name="web_video_server" pkg="web_video_server" type="web_video_server" respawn="false"
  output="screen"  
  />

  <!--start up the camera-->
  <node name="image_publisher" pkg="image_publisher" type="image_publisher" respawn="false"
  output="screen" ns="/image_raw" args="0">
  <param name="publish_rate" value="4" />
  </node>
  
</launch>
