<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- decawave_node.launch
       VERSION 0.0.0 Last Changed 2020-03-11
  -->
  <node pkg="decawave" type="decawave_node" name="decawave_node" output="screen" respawn="true">
    <param name="frequency" type="double" value="50.0"/>
    <param name="port_name" type="str" value="/dev/decawave0"/>
    <param name="base_seperation_covar" type="double" value="0.05"/>
    <param name="distance_measurement_covar" type="double" value="0.1"/>
    <param name="anchor0_frame" value="anchor0" />
    <param name="anchor1_frame" value="anchor1" />
    <param name="anchor0_dw_id" value="3209" />
    <param name="anchor1_dw_id" value="19344" />
    <param name="decawave_frame" value="decawave1_link" />
    <param name="robot_frame" value="base_link" />
    <param name="map_frame" value="map" />
    <param name="is_sim" value="false" />
    <param name="gazebo_prefix" value="rovr" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="anchor0_broadcaster" args="0 0.57 0.48 0 0 0 1 map anchor0 100" />
  <node pkg="tf" type="static_transform_publisher" name="anchor1_broadcaster" args="0 1.57 0.48 0 0 0 1 map anchor1 100" />

</launch>
