<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <!-- decawave_positioning.launch
       VERSION 0.0.0 Last Changed 2019-12-02
  -->
  <!-- Interface:
    Pub: odometry/gps (geometry_msgs/PoseWithCovarianceStamped)
      The position estimate of the decawave, with variances.
    Param: 
  -->
  <node pkg="decawave" type="decawave_positioning" name="decawave_positioning" output="screen" respawn="true">
    <!-- <param name="" value=""/> -->
  </node>
</launch>