<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <!-- gazebo_control.launch
       Runs all the control when interfacing with gazebo.
       This is the only _control file needed to be called
       from this package when using simulation.
  -->

  <!-- The Wheel odometry feedback sequence: jointstate, wheel_fdbk, odom/wheel -->
  <include file="$(find bigrdigr_control)/launch/nodes/jointstate_to_wheel_fdbk_node.launch">
  </include>
  <include file="$(find bigrdigr_control)/launch/nodes/wheel_fdbk_to_odom_node.launch">
  </include>

  <!-- The Wheel command sequence: cmd_vel, wheel_cmd -->
  <!-- cmd_vel -> wheel_cmd, from controler, bigrdigr_control.launch? Rework it -->

</launch>
