<?xml version="1.0"?>
<robot name="digr" xmlns:xacro="https://www.ros.org/wiki/xacro">
<xacro:property name="imu_visual" value="false"/>
	<!--<gazebo reference="world_origin">
		<turnGravityOff>false</turnGravityOff>
	</gazebo-->

	<gazebo reference="base_link">
		<material>Gazebo/LightGrey</material>
	</gazebo>

	<gazebo reference="front_left_wheel">
		<mu1>1.0</mu1>
		<mu2>1.0</mu2>
		<kp>1000000.0</kp>
		<kd>1.0</kd>
		<minDepth>0.001</minDepth>
		<maxVel>1707</maxVel>
		<fdir1>1 0 0</fdir1>
		<material>Gazebo/FlatBlack</material>
	</gazebo>

	<gazebo reference="front_right_wheel">
		<mu1>1.0</mu1>
		<mu2>1.0</mu2>
		<kp>1000000.0</kp>
		<kd>1.0</kd>
		<minDepth>0.001</minDepth>
		<maxVel>1707</maxVel>
		<fdir1>1 0 0</fdir1>
		<material>Gazebo/FlatBlack</material>
	</gazebo>

	<gazebo reference="back_left_wheel">
		<mu1>1.0</mu1>
		<mu2>1.0</mu2>
		<kp>1000000.0</kp>
		<kd>1.0</kd>
		<minDepth>0.001</minDepth>
		<maxVel>1707</maxVel>
		<fdir1>1 0 0</fdir1>
		<material>Gazebo/FlatBlack</material>
	</gazebo>

	<gazebo reference="back_right_wheel">
		<mu1>1.0</mu1>
		<mu2>1.0</mu2>
		<kp>1000000.0</kp>
		<kd>1.0</kd>
		<minDepth>0.001</minDepth>
		<maxVel>1707</maxVel>
		<fdir1>1 0 0</fdir1>
		<material>Gazebo/FlatBlack</material>
	</gazebo>
<!--	<gazebo>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
			<robotNamespce>/</robotNamespace>
		</plugin>
	</gazebo>-->

	<gazebo reference="imu_link">
		<sensor type="imu" name="imu">
			<always_on>true</always_on>
			<visualize>${imu_visual}</visualize>
		</sensor>
		<materal>Gazebo/FlatBlack</materal>
	</gazebo>
	<!-- IMU support -->
	<gazebo>
		<plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
			<alwaysOn>true</alwaysOn>
			<bodyName>imu_link</bodyName>
			<frameName>imu_link</frameName>
			<topicName>imu</topicName>
			<serviceName>imu_service</serviceName>
			<gaussianNoise>0.0</gaussianNoise>
			<updateRate>200</updateRate>
			<imu>
				<noise>
					<type>gaussian</type>
					<rate>
						<mean>0.0</mean>
						<stddev>2e-4</stddev>
						<bias_mean>0.0000075</bias_mean>
						<bias_stddev>0.0000008</bias_stddev>
					</rate>
					<accel>
						<mean>0.0</mean>
						<stddev>1.7e-2</stddev>
						<bias_mean>0.1</bias_mean>
						<bias_stddev>0.001</bias_stddev>
					</accel>
				</noise>
			</imu>
		</plugin>
	</gazebo>


</robot>
