<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <env name="GAZEBO_RESOURCE_PATH" value="$(find rovr_gazebo)"/>
  <arg name="pause" default="false"/>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/nasa.world"/>
    <!-- more default parameters can be changed here -->
    <arg name="paused" value="$(arg pause)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Spawn a robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
    args=" -urdf -model rovr -x 0.0 -y -1.5 -z 0 -param robot_description" />

  <rosparam file="$(find rovr_control)/config/rovr_control.yaml" command="load"/>

  <!--Load Gazebo Controllers-->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/rovr" args="
    joint_state_controller
    front_left_wheel_position_controller
    front_right_wheel_position_controller
    back_left_wheel_position_controller
    back_right_wheel_position_controller"/>
  
  <!--<arg name="use_gui" value="True"/>
  <arg name="model" default="$(find rovr_description)/urdf/rovr.urdf.xacro"/>
  <arg name="rvizconfig" default="$(find rovr_description)/rviz/config.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />-->

</launch>
