<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <!-- Interface: 
    Pub: joy (sensor_msgs/Joy)
    Pub: cmd_vel (geometry_msgs/Twist)
    
    With the logitech controller hold the right bumper to enable and hold the left bumper for turbo
    Drive with split arcade drive
  -->
  <node pkg="joy" type="joy_node" name="joy_node" output="screen">
  </node>

  <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_node" output="screen">
    <param name="enable_button" value="5" />
    <param name="enable_turbo_button" value="4" />
    <param name="axis_angular" value="2" />
  </node>
</launch>
