<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <node name="usb_cam_pseye0" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/pseye0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="camera_name" value="pseye0"/>
  </node>

  <node name="usb_cam_pseye1" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/pseye1" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="camera_name" value="pseye1"/>
  </node>

  <node name="usb_cam_pseye2" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/pseye2" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="camera_name" value="pseye2"/>
  </node>

  <node name="usb_cam_pseye3" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/pseye3" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="camera_name" value="pseye3"/>
  </node>

  <node name="usb_cam_pseye4" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/pseye4" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="camera_name" value="pseye4"/>
  </node>

</launch>
