<?xml version="1.0" encoding="UTF-8"?>
<!-- Record data into two separate rosbags:
     - image data from cameras
     - all other (numerical) data
-->

<launch>
  <!-- Cam choose not to record camera data (expensive) -->
  <arg name="record_cameras" default="true" />

  <node pkg="rosbag" type="record" name="rosbag_record_camera"
        args = "record -o $(find rovr_common)/data/camera
        /usb_cam_pseye0/image_raw/compressed
        /usb_cam_pseye1/image_raw/compressed
        /usb_cam_pseye2/image_raw/compressed
        /usb_cam_pseye3/image_raw/compressed
        /usb_cam_pseye4/image_raw/compressed
        "
        if="$(arg record_cameras)" />

  <node pkg="rosbag" type="record" name="rosbag_record_data"
        args = "record -o $(find rovr_common)/data/data
        " />
</launch>
