<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- args to be passed in -->
  <arg name="device" default="/dev/video0" />
  <arg name="show" default="true" />

  <node pkg="aruco_localization" type="aruco_localization" name="aruco" output="screen">
    <param name="show_output_video" value="$(arg show)" />
    <param name="markermap_config" value="$(find bigrdigr_bringup)/config/aruco_calibration_grid_board_a4.yaml" />
    <param name="marker_size" value="0.03614" />

    <param name="debug_save_input_frames" value="false" />
    <param name="debug_save_output_frames" value="false" />
    <param name="debug_image_path" value="/tmp/arucoimages" />

    <remap from="input_image" to="realsense_d415/color/image_raw" />
    <remap from="output_image" to="aruco/image" />
  </node>
</launch>
