<?xml version="1.0" encoding="UTF-8"?>
<!-- Translate joystick messages into high-level control messages
    This launch file shouldn't be called directly, use one of the main_ files instead.
-->
<launch>
  <node pkg="rovr_control" type="teleop_twist_node" name="main_teleop_twist" output="screen">
    <param name="twist_topic" value="cmd_vel" />
  </node>

  <!-- Twist to CAN -->
  <node pkg="socketcan_bridge" type="socketcan_bridge_node" name="socketcan_bridge">
    <param name="can_device" value="can0" />
  </node>
  
  <node pkg="stm32_bridge" type="stm32_bridge_node" name="stm32_bridge" output="screen" respawn="true">
    <remap from="odom" to="odometry/wheel" />
  </node>

</launch>
