<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <!--
    main_rovr_teleop_direct.launch
    VERSION 0.0.0 Last Changed 2019-05-05
    Launch teleop joystick control over wifi, speaking directly to the motors,
    no improved control. 
  -->

  <include file="human_control.launch"/>

<!--
  <include file="$(find rovr_bringup)/launch/sensors/pseye.launch"/>
  <include file="$(find rovr_bringup)/launch/telecom_img/web_server.launch"/>
-->
</launch>
