<?xml version="1.0"?>
<!--
    Launches all onboard sensors- navx, decawave, realsense
-->
<launch>
  <arg name="simulation" default="false" />

  <!-- Launch realsenses -->
  <!-- roslaunch realsense2_camera rs_camera.launch camera:=realsense2 serial_no:=827312073868 filters:=spatial,temporal,pointcloud -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera" value="realsense1" />
    <arg name="serial_no" value="827312073868" />
    <arg name="filters" value="spatial,temporal,pointcloud" />
    <arg name="enable_sync" value="true" /> 
    <arg name="enable_gyro" value="false" />
    <arg name="enable_accel" value="false" />  
  </include>

  <!-- roslaunch realsense2_camera rs_camera.launch camera:=realsense1 serial_no:=827312073427 filters:=spatial,temporal,pointcloud -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera" value="realsense0" />
    <arg name="serial_no" value="827312073427" />
    <arg name="filters" value="spatial,temporal,pointcloud" />
    <arg name="enable_sync" value="true" />
    <arg name="enable_gyro" value="false" /> 
    <arg name="enable_accel" value="false" /> 
  </include>

  <group unless="$(arg simulation)"> <!-- If we're in simulation, gazebo takes care of IMUs -->
    <!-- Launch navxs -->
    <node pkg="navx" type="navx_node" name="navx1" output="screen" respawn="true">
      <remap from="imu/data" to="imu0/data" />
      <param name="frequency" value="50.0"/>
      <param name="publish_euler" value="false"/>
      <param name="device_path" value="/dev/imu0"/> 
      <param name="frame_id" value="imu0_link"/>
    </node>

    <node pkg="navx" type="navx_node" name="navx2" output="screen" respawn="true">
      <remap from="imu/data" to="imu1/data" />
      <param name="frequency" value="50.0"/>
      <param name="publish_euler" value="false"/>
      <param name="device_path" value="/dev/imu1"/>
      <param name="frame_id" value="imu1_link"/>
    </node>
  </group>

  <!-- Launch decawaves -->
  <node pkg="decawave" type="decawave_node" name="decawave0_node" output="screen" respawn="true">
    <remap from="decawave/odom" to="/decawave0/odom" />
    <param name="frequency" type="double" value="50.0"/>
    <param name="port_name" type="str" value="/dev/decawave0"/>
    <param name="base_seperation_covar" type="double" value="0.05"/>
    <param name="distance_measurement_covar" type="double" value="0.1"/>
    <param name="anchor0_frame" value="anchor0" />
    <param name="anchor1_frame" value="anchor1" />
    <param name="anchor0_dw_id" value="3209" />
    <param name="anchor1_dw_id" value="19344" />
    <param name="decawave_frame" value="decawave0_link" />
    <param name="robot_frame" value="base_link" />
    <param name="map_frame" value="map" />
    <param name="is_sim" value="$(arg simulation)" />
    <param name="gazebo_prefix" value="rovr" />
    <param name="sim_dist_stdev" value="0.001" />
  </node>

  <node pkg="decawave" type="decawave_node" name="decawave1_node" output="screen" respawn="true">
    <remap from="decawave/odom" to="/decawave1/odom" />
    <param name="frequency" type="double" value="50.0"/>
    <param name="port_name" type="str" value="/dev/decawave1"/>
    <param name="base_seperation_covar" type="double" value="0.05"/>
    <param name="distance_measurement_covar" type="double" value="0.1"/>
    <param name="anchor0_frame" value="anchor0" />
    <param name="anchor1_frame" value="anchor1" />
    <param name="anchor0_dw_id" value="3209" />
    <param name="anchor1_dw_id" value="19344" />
    <param name="decawave_frame" value="decawave1_link" />
    <param name="robot_frame" value="base_link" />
    <param name="map_frame" value="map" />
    <param name="is_sim" value="$(arg simulation)" />
    <param name="gazebo_prefix" value="rovr" />
    <param name="sim_dist_stdev" value="0.001" />
  </node>

  <node pkg="aruco_localization" type="aruco_localization" name="aruco0" output="screen" respawn="true">
    <param name="marker_size" value="0.09659" />
    <param name="markermap_config" value="$(find rovr_common)/config/aruco_calibration_grid_board_a4.yaml" />
    <param name="robot_frame" value="base_link" />

    <remap from="input_image" to="/realsense0/color/image_raw" />
    <remap from="output_image" to="aruco0/image" />
  </node>
  <node pkg="aruco_localization" type="aruco_localization" name="aruco1" output="screen" respawn="true">
    <param name="marker_size" value="0.09659" />
    <param name="markermap_config" value="$(find rovr_common)/config/aruco_calibration_grid_board_a4.yaml" />
    <param name="robot_frame" value="base_link" />

    <remap from="input_image" to="/realsense1/color/image_raw" />
    <remap from="output_image" to="aruco1/image" />
  </node>

</launch>
