<?xml version="1.0"?>
<!--
    Launches all onboard sensors- navx, decawave, realsense
-->
<launch>
  <!-- Launch realsenses -->
  <!-- roslaunch realsense2_camera rs_camera.launch camera:=realsense2 serial_no:=827312073868 filters:=spatial,temporal,pointcloud -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera" value="realsense2" />
    <arg name="serial_no" value="827312073868" />
    <arg name="filters" value="spatial,temporal,pointcloud" />
  </include>

  <!-- roslaunch realsense2_camera rs_camera.launch camera:=realsense1 serial_no:=827312073427 filters:=spatial,temporal,pointcloud -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera" value="realsense1" />
    <arg name="serial_no" value="827312073427" />
    <arg name="filters" value="spatial,temporal,pointcloud" />
  </include>

  <!-- Launch navxs -->
  <node pkg="navx" type="navx_node" name="navx1" output="screen" respawn="true">
    <param name="frequency" value="50.0"/>
    <param name="publish_euler" value="false"/>
    <param name="device_path" value="/dev/imu0"/> 
    <param name="frame_id" value="imu1_link"/>
  </node>

  <node pkg="navx" type="navx_node" name="navx2" output="screen" respawn="true">
    <param name="frequency" value="50.0"/>
    <param name="publish_euler" value="false"/>
    <param name="device_path" value="/dev/imu1"/>
    <param name="frame_id" value="imu2_link"/>
  </node>

  <!-- Launch decawaves -->
  <!-- Ryan, add this -->

</launch>