<?xml version="1.0"?>
<!-- creates the TF tree from the URDF of the robot -->
<launch>
  <arg name="model" default="$(find rovr_description)/urdf/rovr.urdf.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

</launch>